.banner {
  padding-inline: fluid(50, 16);
  padding-top: fluid-to-laptop(60, 40);
  padding-bottom: var(--section-padding-y);

  &__inner {
    position: relative;
    z-index: 1000;
    display: flex;
    gap: fluid(50, 20);
    align-items: center;
    padding-inline: fluid(120, 30);
    padding-block: fluid(150, 50);
    border: var(--border);
    border-radius: var(--radius-12);
    box-shadow: var(--box-shadow-desktop-large);
    background-color: var(--color-white);
    overflow: visible;

    @include laptop {
      border-radius: var(--radius-10);
      box-shadow: var(--box-shadow-desktop-medium);
    }

    @include tablet {
      flex-direction: column;
      text-align: center;
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: fluid(200, 100);
      height: fluid(200, 100);
      background-image: url('src/assets/images/banner/bg.svg');
      background-size: fluid(200, 100) fluid(200, 100);
      background-position: 0 0;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }

  &__body {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: fluid-to-laptop(14, 10);

    @include tablet {
      max-width: 100%;
      align-items: center;
    }
  }

  &__badge {
    @include fluid-text(18, 14);

    padding: fluid-to-laptop(10, 8) fluid-to-laptop(20, 16);
    border: var(--border);
    border-radius: var(--radius-8);
    background-color: var(--color-white);

    @include tablet {
      border-radius: var(--radius-6);
    }
  }

  &__extra {
    display: grid;
    gap: fluid-to-laptop(50, 30);
    max-width: 50%;

    @include tablet {
      max-width: 100%;
    }
  }

  &__card {
    border: var(--border);
    border-radius: var(--radius-12);
    background-color: var(--color-orange-99);
    padding: fluid-to-laptop(20, 16);
    display: flex;
    align-items: center;
    column-gap: fluid-to-laptop(10, 8);

    @include tablet {
      border-radius: var(--radius-10);
    }
  }

  &__wrapper {
    @include square(40px);
    @include flex-center(true);
    border: var(--border);
    border-radius: var(--radius-6);
    padding: fluid-to-laptop(8, 6);
    background-color: var(--color-orange-97);

    @include tablet {
      border-radius: var(--radius-4);
    }
  }
}