.gallery-card {
  --paddingLeftCard: #{fluid(31,30)};
  padding: fluid(50, 30);
  padding-top: fluid(200, 120);
  background-color: var(--color-white);
  border: var(--border);
  border-radius: var(--radius-12);
  box-shadow: var(--box-shadow-desktop);

  @include laptop {
    border-radius: var(--radius-12);
    box-shadow: var(--box-shadow-mobile);

  }

  &__wrapper {
    position: absolute;
    top: 0;
    left: calc(50%);
    translate: -50% -50%;
    width: 96%;
  }

  &__body {
    display: grid;
    row-gap: fluid(40, 20);

    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include mobile {
        flex-direction: column-reverse;
        row-gap: 20px;
      }
    }
  }

  &__description {
    @include fluid-text(22, 18);

    @include tablet {
      text-align: center;
    }
  }

  &__image {
    border-radius: var(--radius-12);
    border: var(--border);
    height: fluid(304, 203);
    object-fit: cover;

    @include laptop {
      border-radius: var(--radius-10);
    }
  }
}