.section {
  display: flex;
  flex-direction: column;
  row-gap: fluid(100, 50);
  padding-block: var(--section-padding-y);

  &__title {
    text-align: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: fluid(19, 10);
    align-items: center;
  }

  &__badge {
    padding: fluid-to-laptop(10, 8) fluid(20, 14);
    border: var(--border);
    border-radius: var(--radius-8);
    background-color: var(--color-white);
    @include fluid-text(18, 14);

    @include tablet {
      border-radius: var(--radius-6);
    }
  }

  &__description {
    text-align: center;
    max-width: fluid(990, 880);

    @include mobile {
      max-width: 358px;
    }
  }

  &__body {
    &--flex {
      display: flex;
      align-items: center;
      gap: fluid-to-laptop(50, 40) 40px;

      @include mobile {
        display: block;
      }
    }

    &--flex-column {
      display: flex;
      flex-direction: column;
      row-gap: fluid(50, 30);
    }
  }
}