.metric {
  &__list {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    padding-block: fluid-to-laptop(24, 20);
    padding-inline: fluid(50, 40);

    @include mobile {
      padding-block: 40px;
      flex-direction: column;
      width: 100%;
    }
  }

  &__item {
    display: flex;
    flex-direction: column-reverse;

    @include mobile {
      &:not(:last-child) {
        border-bottom: var(--border);
        padding-bottom: 20px;
      }

      &:not(:first-child) {
        padding-top: 20px;
      }
    }
  }


  &__value {
    font-size: fluid-to-laptop(44, 34);
    font-weight: 800;
  }

  &__term {
    font-size: fluid-to-laptop(18, 16);
  }
}