.reviews {
  &__icon{
    &.icon{
      --iconSize: #{fluid-to-laptop(30, 24)};
    }
  }
  &-contaner {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    @include mobile-above {
      @include visually-hidden;
    }
  }
}