.awards {
  &__extra {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-buttons {
      display: flex;
      column-gap: fluid-to-laptop(20, 16);
    }
  }

  &__icon {
    &.icon {
      --iconSize: #{fluid-to-laptop(30, 24)};
    }
  }
}