.story {
  padding: fluid-to-laptop(150, 100);
  border: var(--border);
  border-radius: var(--radius-12);
  box-shadow: var(--box-shadow-desktop);
  background-color: var(--color-white);

  @include tablet {
    box-shadow: var(--box-shadow-mobile);
  }

  @include mobile {
    padding: 50px 10px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: fluid(100, 50);
  }

  &__item {
    display: flex;
    justify-content: space-between;
    gap: fluid-to-laptop(50, 30);
    align-items: center;

    @include mobile{
      flex-direction: column;

    }

    &-body {
      display: grid;
      row-gap: fluid(20, 12);
      max-width: 55%;

      @include mobile {
        max-width: 100%;
      }
    }
  }
}