.button-slider {
  @include flex-center(true);
  border-radius: var(--radius-8);
  border: var(--border);
  background-color: var(--color-white);
  padding: fluid-to-laptop(14, 12);

  &.icon {
    --iconSize: fluid-to-laptop(30, 24);
  }

  &[disabled] {
    pointer-events: none;
  }
}