.slider {
  &__swiper {
    &:has(.education-card) {
      padding-top: fluid(38, 28);
    }
  }
}

.swiper {
  padding: fluid(10, 8);

  &-slide {
    display: flex;
    justify-content: center;
    height: auto;
  }
}