.reviews-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: fluid(30, 20);
  background-color: var(--color-white);
  border: var(--border);
  border-radius: var(--radius-12);
  box-shadow: 6px 6px 0px 2px var(--color-shadow);
  padding: fluid(50, 30);
  max-width: fluid(420, 340);

  @include laptop {
    border-radius: var(--radius-10);
    box-shadow: var(--box-shadow-tablet);
  }

  @include mobile {
    box-shadow: var(--box-shadow-mobile);
  }

  &__image {
    border-radius: 50%;
    border: var(--border-s);
    width: fluid-to-laptop(80, 66);
  }

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: fluid-to-laptop(12, 10);
    align-items: center;
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: fluid(30, 20);
    align-items: center;
  }

  &__description {
    text-align: center;
  }

  &__title{
    font-family: var(--font-family-base),sans-serif;
  }
}

